# Default ignored files
/.idea/shelf/
/workspace.xml
*.xml
/.idea
*.iml
log.txt
__pycache__/calculate.cpython-310.pyc
__pycache__/config_io.cpython-310.pyc
__pycache__/config_model.cpython-310.pyc
__pycache__/find_box.cpython-310.pyc
__pycache__/fucking_flower.cpython-310.pyc
__pycache__/improve_direction.cpython-310.pyc
__pycache__/log_message.cpython-310.pyc
__pycache__/role_action.cpython-310.pyc
__pycache__/role_loc.cpython-310.pyc
__pycache__/role_move.cpython-310.pyc
__pycache__/send_message.cpython-310.pyc
__pycache__/test_weather.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/ui.cpython-310.pyc
__pycache__/window_control.cpython-310.pyc
config.txt
